include ../mixins/icon

block header
    header.header
        nav.menu.js-menu.header__menu
            button(class="menu__button" type="button" aria-expanded="false" aria-controls="menu__list")
                .menu__button-line
                .menu__button-line
                .menu__button-line
            include menu
