block head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title New project
    meta(name='description' content='Head block template')
    meta(name='author' content='teqst')
    meta(property='og:title' content='Basic head template')
    meta(property='og:type' content='website')
    meta(property='og:url' content='/')
    meta(property='og:description' content='Simple template for new projects.')
    meta(property='og:image' content='image.png')
    link(rel='icon' href='/favicon.ico')
    link(rel='icon' href='/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    link(rel='stylesheet' type="text/css" href='css/main.css')



