block menu
    ul(id="menu__list").menu__list
        li.menu__item
            a(href="#" class="menu__link  menu__link--active") Home
        li.menu__item
            a(href="#" class="menu__link  menu__link--inactive") About
        li.menu__item
            a(href="#" class="menu__link  menu__link--inactive") Progress
        li.menu__item
            a(href="#" class="menu__link  menu__link--inactive") Projects
        li.menu__item
            a(href="#" class="menu__link  menu__link--inactive menu__link--contact") Contact