block top-section
    include backbg
    .container
        section.top-section
            .top-section__text
                h1.top-section__title
                    | Hi, my name is
                    span.top-section__title--color-pink  Check it boy
                    br
                    | I love coding and creating.
                h1.top-section__title.top-section__title--weight-light
                    | And there are a few reasons
                    br
                    | why you should hire me: