doctype html
html(lang='ru')
    head
        include components/head
    body
        include components/header
        main
            include components/top-section

        include components/footer
    script(src="js/main.js")