.backbg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(110.41deg, #2F2D2E 6.48%, #41292C 35.68%, #792359 68.78%, #D72483 95.87%);
  z-index: -1;
  height: 100vh;
}