/*Colors*/

$color-text: #ffffff;
$color-light-violet: #E79BCA;
$color-dark-violet: #792359;
$color-pink: #D72483;
$color-black: #2F2F2F;
$color-grey: #ACACAC;
$color-light-grey: #EFEFEF;


/*Font settings*/

$font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
$font-family-thin: "Roboto Thin", Arial, Helvetica, sans-serif;
$base-font-size: 17px;
$font-size-h0: 48px;
$font-size-h1: 48px;
$font-size-h2: 37px;
$font-size-h3: 26px;


/*Breakpoints*/

$desktop-lg: 1920px;
$desktop-md: 1400px;
$desktop-sm: 1100px;
$tablet: 800px;
$mobile: 320px;